.sm-purchase-requisition-entrys {
  display: flex;
  flex-direction: column;
}

.sm-purchase-entry-actions {
  display: flex;
  align-items: center;
  gap: 8px;
}

.sm-purchase-entry-date-picker {
  width: 100%;
}
