<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sm.domain.sys.base.sysparam.mapper.SysParamMapper">
    <select id="selectListPage" resultType="sm.domain.sys.base.sysparam.model.vo.SysParamVO">
        SELECT a.id, a.version, a.number, a.name, a.value, a.description, a.is_system,
               a.feature_id, COALESCE(b.custom_name, b.default_name) AS feature_name,
               b.app_id, c.name AS app_name
        FROM t_sys_param a
        LEFT JOIN t_sys_feature b ON b.id = a.feature_id
        LEFT JOIN t_sys_app c ON c.id = b.app_id
        <where>
            <if test="form.featureId != null">a.feature_id = #{form.featureId}</if>
            <if test="form.appId != null">b.app_id = #{form.appId}</if>
            <if test="form.domainId != null">c.domain_id = #{form.domainId}</if>
            <if test="form.globalOnly == true">a.feature_id IS NULL</if>
            <if test="form.keyword != null and form.keyword.trim() != ''">
                AND (a.number LIKE CONCAT('%', #{form.keyword}, '%')
                OR a.name LIKE CONCAT('%', #{form.keyword}, '%'))
            </if>
            <include refid="sm.system.query.ListSqlQueryMapper.conditions"/>
        </where>
        <choose>
            <when test="listQuery.sortColumn != null">ORDER BY ${listQuery.sortColumn} ${listQuery.sortOrder}, a.id</when>
            <otherwise>ORDER BY a.number, a.id</otherwise>
        </choose>
    </select>

</mapper>
