<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sm.domain.sys.base.user.mapper.UserMapper">
    <!-- 触发器负责 generation/version 各推进一次，条件不成立时禁止任何密码写入。 -->
    <update id="updatePasswordByVerifiedEmail">
        UPDATE t_sys_user SET password = #{password}, password_reset = false
        WHERE id = #{snapshot.userId} AND email = #{snapshot.email}
          AND email_verified_at IS NOT NULL AND enabled = true
          AND username != 'administrator' AND credential_generation = #{snapshot.generation}
    </update>
    <update id="bindVerifiedEmail">
        UPDATE t_sys_user SET email = #{email}, email_verified_at = clock_timestamp()
        WHERE id = #{snapshot.userId} AND email IS NOT DISTINCT FROM #{snapshot.email}
          AND enabled = true AND credential_generation = #{snapshot.generation}
    </update>
    <update id="changeResetPassword">
        UPDATE t_sys_user SET password = #{password}, password_reset = false
        WHERE id = #{id} AND enabled = true AND password_reset = true
          AND credential_generation = #{generation}
    </update>
    <select id="selectSecurityState" resultType="sm.domain.sys.base.user.model.entity.UserEntity" flushCache="true" useCache="false">
        SELECT a.id, a.enabled, a.credential_generation FROM t_sys_user a WHERE a.id = #{id}
    </select>
    <select id="selectScopedPage" resultType="sm.domain.sys.base.user.model.entity.UserEntity">
        SELECT a.id,
               a.username,
               a.password,
               a.name,
               a.number,
               a.gender,
               a.birthday,
               a.avatar_attachment_id,
               a.email,
               a.phone,
               a.theme_color,
               a.password_reset,
               a.enabled,
               a.create_time,
               a.create_user,
               a.update_time,
               a.update_user,
               a.version
        FROM t_sys_user a
        <where>
            <if test="ids != null and !ids.isEmpty()">
                AND a.id IN
                <foreach collection="ids" item="id" open="(" separator="," close=")">#{id}</foreach>
            </if>
            <if test="keyword != null and keyword != ''">
                AND (a.username LIKE CONCAT('%', #{keyword}, '%')
                  OR a.name LIKE CONCAT('%', #{keyword}, '%')
                  OR a.number LIKE CONCAT('%', #{keyword}, '%'))
            </if>
            <choose>
                <when test="unassigned">
                    AND NOT EXISTS (
                        SELECT 1 FROM t_sys_user_assignment b WHERE b.user_id = a.id
                    )
                </when>
                <when test="orgIds != null">
                    AND EXISTS (
                        SELECT 1
                        FROM t_sys_user_assignment b
                        WHERE b.user_id = a.id
                          AND b.org_id IN
                          <foreach collection="orgIds" item="orgId" open="(" separator="," close=")">
                              #{orgId}
                          </foreach>
                    )
                </when>
            </choose>
            <include refid="sm.system.query.ListSqlQueryMapper.conditions"/>
        </where>
        <choose>
            <when test="listQuery.sortColumn != null">ORDER BY ${listQuery.sortColumn} ${listQuery.sortOrder}, a.id</when>
            <otherwise>ORDER BY a.number, a.id</otherwise>
        </choose>
    </select>

    <select id="selectAssignedRoles" resultType="sm.domain.sys.base.user.model.vo.UserAssignedRoleVO">
        SELECT a.org_id,
               b.id,
               b.number,
               b.name,
               b.description
        FROM t_sys_user_role a
        INNER JOIN t_sys_role b ON b.id = a.role_id
        WHERE a.user_id = #{userId}
        ORDER BY a.org_id, b.number, b.id
    </select>

    <select id="selectCacheSnapshotById" resultType="sm.domain.sys.base.user.model.UserCacheSnapshot">
        SELECT a.id,
               a.username,
               a.name,
               a.avatar_attachment_id
        FROM t_sys_user a
        WHERE a.id = #{id}
    </select>
</mapper>
